
//colors
$black:black;
$green:green;
$blue:blue;
$yellow:yellow;
$red:red;
$white:white;

//cards
$card_bg:#0d5825;

//menu
$menu_bg:#7e7e7e;
$menu_col:honeydew;
$menu_lc:#c1840a;

//position
$rel:relative;
$abs:absolute;

//display and others
$bl:block;
$fl:flex;
$no:none;
$cen:centre;
$cent:center;
$sol:solid;


//cursor
$point:pointer;

//text
$upp:uppercase;
$fz:25px;

//animation
$spin_an:spin 2s cubic-bezier(0.1,0.25,0.1,1) 0s  infinite alternate both;


