$red:red;
$green:green;



//Element style
$elem_padding:15px 10px 20px;
$elem_margin:30px;
$elem_border-width:2px;
$elem_border-style:dashed;
$elem_border-color:$red;
$elem_bg:$green; 

//Content style
$img_fl:left;
$img_fr:right;