//font-face
$base_font: 'Open Sans', sans-serif;
$add_font:'freestyle_scriptregular';

//colors
$black:black;
$basic_bg:#ffffff;

//display
$bl:block;
$in:inline;
$in_bl:inline-block;
$fl:flex;
$no:none;

//position
$rel:relative;
$fix:fixed;
$abs:absolute;
$stic:sticky;

//text-align and others
$upp:uppercase;
$cent:center;
$cen:centre;
$point:pointer;
$t_:top;
