body{
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#wrapper{
    width: 100%;
    overflow: hidden;
}

.container{
    max-width: 930px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

main{
    flex-grow: 2;
}

span{
    display: block;
}