//colors
$black:black;
$white:white;
$header_bg:#d3b714;
$footer_bg:#86ec86;
$btn_bg:#685174;
$btn_hov:gold;

//display
$bl:block;
$in:inline;
$in_bl:inline-block;
$fl:flex;
$no:none;

//position
$rel:relative;
$fix:fixed;
$abs:absolute;
$stic:sticky;

//text-align and others
$upp:uppercase;
$cent:center;
$cen:centre;
$point:pointer;
$t__:top;
$base_border:50%;